Django==1.8.1
Pillow==2.8.1
South==1.0.2
Unipath==1.1
amqp==1.4.6
anyjson==0.3.3
beautifulsoup4==4.3.2
billiard==3.3.0.20
boto==2.38.0
celery==3.1.18
diff-match-patch==20121119
dj-database-url==0.2.2
django-redis-cache==0.10.2
django-reversion==1.8.6
django-storages==1.1.8
gunicorn==19.3.0
hiredis==0.2.0
honcho==0.6.6
kombu==3.0.26
lxml==3.2.4
psycopg2==2.6
pytz==2015.2
raven==5.3.1
redis==2.10.3
requests==2.6.2
sorl-thumbnail==12.2
