{% load thumbnail %}

<!doctype html>
<html>
    <head>
        <title>{{ article.title }}</title>
    </head>
    <body dir="rtl">
        <h1>{{ article.title }}</h1>
        <h2>{{ article.subtitle }}</h2>
        {% for image in article.images.all %}
        {% thumbnail image.image '150x120' as tim %}
        <a href="{{ image.image.url }}"><img src="{{ tim.url }}"></a>
        {% endthumbnail %}
        {% endfor %}
        <pre style="white-space: pre-wrap;">{{ article.text }}</pre>
        {% for diff in diffs %}
        <hr>
        <pre style="white-space: pre-wrap;">{{ diff.diff|safe }}</pre>
        {% endfor %}
    </body>
</html>
