{% load thumbnail %}

<!doctype html>
<html>
    <head>
        <title>{{ article.title }}</title>
    </head>
    <body dir="rtl">
        <h1>{{ article.title }}</h1>
        <h2>{{ article.subtitle }}</h2>
        {% for image in article.images.all %}
        {% thumbnail image.image '150x120' as tim %}
        <a href="{{ image.image.url }}"><img src="{{ tim.url }}"></a>
        {% endthumbnail %}
        {% endfor %}
        <pre style="white-space: pre-wrap;">{{ article.text }}</pre>
        <br/><br/>
        <h3>גרסאות קודמות</h3>
        {% for diff in diffs %}
        <hr>
        <pre style="white-space: pre-wrap;">{{ diff.date|date:'d/m/Y' }}<br/>{{ diff.date|date:'H:i' }}<br/><br/>{{ diff.diff|safe }}
        </pre>
        {% endfor %}
    </body>
</html>
